* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    font-size: 200px;
     font-family:Verdana, Geneva, Tahoma, sans-serif;
}
span{
    display: inline-flex;
     position: relative;
     color:black;
     background-color: #fff;
}
a{
   display: flex;
   justify-content: center;
    text-decoration: none;
    font-size: 24px;
    font-family:Verdana, Geneva, Tahoma, sans-serif ;
}
 span::after{
     content: '';
  position: absolute;  
  height: 100%;
  width: 100%;
  background-color: white;
  border-left: 2px solid red;
  left: 0;
  animation: typing  4s linear infinite;
  /* animation: name duration timing-function delay iteration-count direction fill-mode; */
}
@keyframes typing{
    0%{
        left: 0;
    }
    100%{
        left: 100%;
     
    }
}